@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700,800,900');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family:'Work Sans', sans-serif;

}
/* header */
.navbar{
  width: 80%;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #000;
  background-color: #ffffff;
  
}
header::after{
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav{
  float: right;
}

 nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav  li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;
}

nav a {
  text-decoration: none;
  color:#333;
  text-transform: capitalize;
  font-size: 14px;

}
nav a:hover{
  color: #ff6e00;
  
}
nav a.active{
  border-bottom: 2px solid #e77518 ;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 200vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(251, 236, 224, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.hide{
  display: none;
}
/*----------- main--------- */
/* home */
.home{
  display: flex;
  align-items: center; /*  horizotontal */
  justify-content: space-evenly; /*vertical*/
  /* flex-direction: column;
   */
}
.home-image{
  background-color: rgba(255, 110, 0, 0.5);
  height: auto;
  width: fit-content;
  display: flex;
  border-radius: 55%;
  margin-top: 60px;
}
.content-left{
  width: 30%;
}

.home h1, 
.about h1,
.skills h1{
  font-size: 25px;
  color: #444;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  
 
}
.home  h2,
.about h2,
.contact h2{
  font-size: 40px;
  color: #444;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.home h3,
.about h3{
  font-size: 30px;
  color: #444;
  font-weight: 600;
}
.home  p,
.about p{
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 31.5px;
  margin: 30px 0;

}
main a{
  text-decoration: none;
  color: #000;
}
.cta {
  padding: 15px 30px;
  background: #ff6e00;
  outline:none ;
  border: none;
  font-weight: 700;
  border-radius: 50px;
  color: #333;

}
/* about */
.about{
  display: flex;
  align-items: center; /*  horizotontal */
  justify-content: center; /*vertical*/
  margin-top: 20px;
  
}
.about-image{
  height: auto;
  max-width: 100vh;
}
.about-right{
  width: 30%;
}
/* /skills */
.skills-contanier{
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex-box{
  width: 200px;
  height: 200px;
  background: #f0be95;
  text-align: center;
  justify-content: baseline; 
  line-height: 200px; 
  border-radius: 20px;
  margin: 10px;
  text-transform: capitalize;
  color: #444;

}
/* ----Portfolio----- */
.portfolio{
  margin-top: 100px;
}
.content-portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: px;
 
}

.portfolio-post {
  width: 300px;
  margin-bottom: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.portfolio-post img {
  width: 100%;
  height: 65%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.portfolio-post h2 {
  color: #f0be95;
  font-size: 18px;
  margin-bottom: 10px;
}

.portfolio-post p {
  font-size: 14px;
  line-height: 1.5;
}
/* ----blog----- */
.content-blog{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 20px;
}

.blog-post {
  width: 300px;
  margin-bottom: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.blog-post img {
  width: 100%;
  /* height: 65%; */
  border-radius: 5px;
  margin-bottom: 10px;
}

.blog-post h2 {
  color: #f0be95;
  font-size: 18px;
  margin-bottom: 10px;
}

.blog-post p {
  font-size: 14px;
  line-height: 1.5;
}
/* Actions container */
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Like and Message buttons */
.actions i{
  color: #ff6e00;
  border: none;
  padding: 8px 12px;
  border-radius: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Read More link */
.actions a.read-more {
  background-color: #f0be95;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.actions a.read-more:hover {
  background-color: #f0be95;
}
/* ----contect---  */
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #f0be95; */


}
.contact-content h2,
 .contact-container h2{
  font-size: 36px;
  font-weight: 500;
  color: #000;

}
.contact-content p,
 .contact-container p{
  
  font-weight: 300;
  color: #000;
 }
 .contact-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
 }

 .contact-container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
 }

 .contact-container .contactInfo .box{
   position: relative;
   padding: 20px 0;
   display: flex;
 }
 .contact-container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
   background: #f0be95; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
 } 
 .contact-container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #444;
  flex-direction: column;

 }
 .contact-container .contactInfo .box .text h4{
   font-weight: 500;
   color: #e77518;
 }
 .contactForm{
  width:40%;
  padding: 40px;
  background:#ffffff;
 border-radius: 10px;

 }
 .contactForm h5{
   font-size: 25px;
   color:#333;
   font-weight: 500;
 }
 .contactForm .inputbox{
  position: relative;
  width: 100%;
  margin-top: 10px;
 }
 .contactForm .inputbox input,
 .contactForm .inputbox textarea{
   width: 80%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border:none;
   border-bottom:1px solid #e77518; 
   outline: none;
   resize: none;
 }
 .contactForm .inputbox span{
  position: absolute;
  left: 0;
  /* top: 10px; */
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0; 
   pointer-events: none;
   transition: 0.5s;
 }
 .contactForm .inputbox input:focus ~ span,
 .contactForm .inputbox input:valid ~ span,
 .contactForm .inputbox textarea:focus ~ span,
 .contactForm .inputbox textarea:focus ~ span{
  color: #f0be95;
  font-size: 12px;
  transform: translateY(-20px);
 }

 .contactForm .inputbox input[type="submit"]{
  width: 100px;
  background: #ff6e00;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;

 }
 footer {
  background-color: #ffffff;
  color: #444;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
}
.footer-icon{
  min-width: 60px;
  
  
}
.footer-icon a{
  color: #444;
  text-decoration: none;
  height: 70px;
  line-height: 30px;
}
.hide{
  display: none;
}


/* Media queries for responsiveness */

}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .hide{
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .hideOnMobile{
    display: none;
  }
  .hide{
    display: block;
  }
  header{
    position: absolute;
  }
  
  .home {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 20px;
  }

  .navbar ul {
      flex-direction: column;
  }
  .home{
    flex-wrap: wrap;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
}

}

/* Additional media queries for even smaller devices if needed */
@media screen and (max-width: 480px)and (max-width: 428px) and (max-height: 926px){
  .hideOnMobile{
    display: none;
  }
  .hide{
    display: block;
  }
  header{
    position: absolute;
  }
 
  body {
      font-size: 14px;
      flex-wrap: wrap;
    }
    .home {
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
    }
    .home-image{
      width: 100%;
     
    }
    .about{
      flex-direction: column;
      
    }
  .about-image{
    width: 100%;
  
  }
    .about-right{
      width: 80%;
    }
    .about-left{
      width: 100%;
    }
    .flex-box{
      width: 80%;
    }
    .content-blog{
      justify-content: center;
     
    }
    
  .content-left{
    width: 80%;
  }
  
    .navbar {
      padding: 10px;
  }

  .logo {
      font-size: 1.5em;


  }
 .contact-container{
  flex-direction: column;
  justify-content: center;
 }
 
 .contact-container .contactInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
 }
 .contactForm{
  width:100%;
}
.contactForm .inputbox input,
 .contactForm .inputbox textarea{
   width: 100%;

 }
 .contact-container .contactInfo .box .text{
  flex-wrap: wrap;
  width: fit-content;
 }
 .contactForm h5{
  text-align: start;
  width: 100%;
  margin: auto;
}
}